@import "_colores.scss";

.buscarContainer{
display: flex;
justify-content:center;
}
.buscarBox{
    position: relative;

}
.buscarInput{
    font-size: 1.2rem;
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid $blue;
}
.buscarButton{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    height:100%;

    border:none;
    background:none;
}

.buscarInput:focus,
.buscarButton:focus {
  outline: none;
  border: 1px solid $red;
  box-shadow: 3px  3px 5px  lighten($red, 10%);;
}